[Unit]
Description=OpenStack Heat API Service
After=syslog.target network.target

[Service]
Type=simple
User=heat
ExecStart=/usr/bin/heat-api
Restart=on-failure

[Install]
WantedBy=multi-user.target
